* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.hide { 
  display: none;
}

.show {
  display: block;
}


.login-form {

  
  margin-left: 150px;
  margin-bottom: 100px;
}
.inputs {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
.btns {
  padding: 10px 20px;
  background-color: #020000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.loginInfoText {
  color: #88e8f0;
  font-size: 40px;
  width: 100%;
}

.withdrawsCount {
  color: #abf205;
  font-size: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.balance {
  padding: 0;
  margin: 0;
  color: #2bb095;
  font-size: 50px;
  width: 100%;
  margin-bottom: 30px;
}

.fillBalance {
  margin-bottom: 30px;
}

.fillInput {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
.fillButton {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.withdrawMoney {
  margin-bottom: 30px;
}
.withdrawInput {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
.withdrawButton {
  padding: 10px 20px;
  background-color: #0217ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.balanceBan {
  color: #f205e2;
  font-size: 18px;
  margin-bottom: 400px;
}
.limitChanger {
}
.limitInput {
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
.limitButton {
  padding: 10px 20px;
  background-color: #e55e04;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  cursor: pointer;
}
.leave {
  padding: 10px 20px;
  background-color: #040201;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;

}

.register-form {
  margin-top: 300px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.register-input-login {

}
.register-input-pass {
}
.register-button {
}