.container {
  width: 900px;
  margin: 0 auto;
}

.withdraws {
  color: #abf205;
  font-size: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.balance {
  color: #2bb095;
  font-size: 50px;
  width: 100%;
  margin-bottom: 30px;
}

.fillBalance {
  margin-bottom: 30px;
}

.fillInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
.fillButton {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.withdrawMoney {
  margin-bottom: 30px;
}
.withdrawInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
.withdrawButton {
  padding: 10px 20px;
  background-color: #0217ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.balanceBan {
  color: #f205e2;
  font-size: 18px;
  margin-bottom: 500px;
}
.limitChanger {
}
.limitInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}
.limitButton {
  padding: 10px 20px;
  background-color: #e55e04;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}